<div id="main">
  <h1>Reg</h1>
<form action="/reg" method="post">
  <input type="text" name="email" id="email">
  <input type="text" name="password" id="password">
  <button type="submit">Reg</button>
</form>
</div>