<div id="nav" class="flex nav">
    <ul class="flex gap-2 decoration-none">
        <li hx-swap="outerHTML" hx-target="#main" hx-get="/temps/main.hbs" hx-trigger="click">main</li>
        <li hx-swap="outerHTML" hx-trigger="click" hx-get="/temps/login.hbs" hx-target="#main">authorize</li>
        <li><a href="/log-out" class="link__dec-none">log out</a></li>
        <li hx-swap="outerHTML" hx-trigger="click" hx-get="/temps/cart.hbs" hx-target="#main">shop</li>
        <li hx-swap="outerHTML" hx-trigger="click" hx-get="/cart/view" hx-target="#main">shop</li>
    </ul>
</div>