<div id="main" class="main">
    <form hx-trigger="submit" hx-target="#res" hx-swap="innerHTML" hx-post="/search">
        <label for="name">Name: <input name="name" id="name" type="text"/></label>
        <button type="submit">Search</button>
    </form>
    <div id="res"></div>
</div>