*{
    background-color: beige;
}

.grid{
    display: grid;
}

.wrapper{
    grid-template-rows: [nav-start] 1fr [nav-end main-start] 1fr [main-end];
    grid-template-columns: [main-start] 1fr [main-end];
}

.nav{
    grid-column: nav;
    grid-row: main;
}

.main{
    grid-column: main;
    grid-row: main;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.gap-2{
    gap: 2rem;
}
.decoration-none{
    list-style: none;
}
.link__dec-none{
    text-decoration: none;
    color: inherit;
}